@import 'varibales';
.breadcrumb
{
  height: 195px;
  padding: 0;
  background: $breadcamp;
  @include respond(md){
    height: auto;
    padding: 15px 0;
  }
  h2{
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    padding-top: 30px;
    letter-spacing: normal;
    float: left;
    @include respond(md){
      display: block;
      width: 100%;
      padding-top: 0;
      font-size: 24px;
    }
  }
  .breadlink{
    float: right;
    padding-top: 40px;
    padding-bottom: 0;
    li{
      display: inline-block;
      padding: 0 15px;
      position: relative;
      @include respond(md){
        font-size: 14px;
      }
      a,strong{
        display: block;
        font-size: 16px;
        color: $primary;
        font-weight: normal;
        text-transform: capitalize;
        @include respond(md){
          font-size: 14px;
        }
      }
      a:hover,strong{
        color: $accent;
      }
      &:last-child::after{
        display: none;
      }
      &:first-child{
        padding-left:0;
      }
      &:after {
          top: 0;
          content: '/';
          position: absolute;
          right: -3px;
          bottom: 0;
      }
    }
    @include respond(md){
      display: block;
      width: 100%;
      padding-top:0;
    }
  }
}