$assetPath : "/assets";
$imagePath : "/assets/images";
$white : #fff;
$black : #000;
$black_opacity : rgba(0, 0, 0, 0.7);
$black_russian : #1a1a1d;
$gray : #a3a3a3;
$green : #0c9f68;
$gray_light : #e5e5e5;
$gray71 : #b5b5b5;