/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "bootstrap.min.scss";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import '../../node_modules/primeng/resources/themes/omega/theme.css';
@import '../../node_modules/primeng/resources/primeng.min.css';
@import '../../node_modules/dragula/dist/dragula.min.css';

$heading-bg-color:#27AAE1;
$heading-color:#fff;
$uitable-bg-color:#0275d8;

html{
    font-size: 14px !important;
}

body { 
    background-color:  #f1f3f6;
}

.hpanel .panel-body {
	background: #fff;
	border: 1px solid white;
	border-radius: 2px;
	padding: 20px;
	position: relative;
  }

.ui-accordion{ 
	.ui-accordion-header {  
        margin-top:0px;
        border:none;
        border-radius:0px;
        color:$heading-color;
        background:$heading-bg-color;
        font-weight:normal;
        border-bottom:solid 1px #fff;
	
		&:hover{
			background:$heading-bg-color !important;
			color:$heading-color !important;
		}
		
		&.ui-state-active{
			background:$heading-bg-color !important;			
		}

        a{
        	color:$heading-color;
			&:hover{ 
				color:$heading-color !important;
				text-decoration:none;
			}
        }

		.fa-caret-down{
        	right:0.5em;
        	left:initial;			
		}

        .fa-caret-right{
        	right:0.5em;
        	left:initial;
		    -ms-transform: rotate(180deg); /* IE 9 */
		    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
		    transform: rotate(180deg);
        }
	}

	.ui-accordion-content{
		padding:0px;
		padding-left:0px; 
	}
} 

.search-result{
	.ui-datatable .ui-datatable-caption, .ui-datatable .ui-datatable-header{
		background: none;
	    border: none;
	}
	.exportTable{
		button{			
		    float: right;
		    border: none;
		    background: none;
		    color: #888888;
		    cursor: pointer;
		    background-size: 30px;
		    background-repeat: no-repeat;
		    background-position-x: 73%;
		    transition: 0.7s;
		    &:hover{
		    	color:$heading-bg-color;
		    }
	    }
	}

	.ui-datatable {
		th.ui-state-default{
			background: $uitable-bg-color;
			color:#fff;
			text-align:left;

			&:hover{				
				background: $uitable-bg-color;
				color:#fff;
			}
		}

		td, .ui-widget-content a{
			color: #2B7DC0;
		}

		th,td{ padding-left:10px;}
		
		td{
		    color: #888888;

		}
		.ui-datatable thead th, .ui-datatable tfoot td{
			text-align:left;
		}
	}

	.ui-paginator {
	    margin: 10px 0;
	    text-align: center;
	    padding: .125em;
	    background: none;
	    border: none; 
	}
	.ui-paginator .ui-paginator-page.ui-state-active{
		color:#fff;
	}
	.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev {
	    cursor: pointer;
	    color: #0275d8;
	}
}

.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a{ color:#fff; }

.pselect{
    padding-left: 0px;
    border-radius: 0px;
    padding-right: 0px;

    .ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    	width: 100%;
	}
	
	label.ui-multiselect-label.ui-corner-all {
    	margin: 0px;
    	padding: 6px;
    	font-size: 15px;
	}
	
	.ui-multiselect-panel.ui-widget.ui-widget-content.ui-corner-all.ui-shadow {
    	width: 100%;
	}
}

.slim-loading-bar-progress{	
    position: fixed;
    top: 0;
    z-index: 9999;
}


/* Profile Page */


.acc_header{
    padding:0px !important;
	background:none; 
	font-family:Open Sans,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif; 
	.ui-accordion-header{
	    padding:8px;
		background:#f2f2f2 !important; 
    	cursor:pointer;
		background:none;
		&:hover{
        	background:#f2f2f2 !important;
        	text-decoration:none;
        	color:#1c75bc !important;
        }
        &.ui-state-active{
    	    background: #f2f2f2 !important;
    	    a{ text-decoration:none;}
        }
        a{
            font-size: 16px; margin-top: 0.5rem; color: #1c75bc; margin-bottom: 0.5rem; padding: 0 20px; width: 98%; display: inline-block; font-weight: 700; background: none; 
            font-family:Open Sans,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;

            &:hover{
            	background:none;
            	text-decoration:none;
            	color:#1c75bc !important;
            }
        }
        .fa-caret-right, .fa-caret-down{
            color:#aaa;
        }
    }
    .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover{
    	border-color:#fff;    	
    	a{
			color:#1c75bc !important;
			text-decoration:none;
		}
	} 
}
/* Profile Page */

.no-left-padding{padding-left:0px;}
.no-right-padding{padding-right:0px;}



.new-table{
	display : none;
	&.sticy{
		position: fixed;
		top: 0;
		z-index: 999999;
		display:block;
	}
                
	th {
		background-color: #0275D7 !important;
    	color: #fff !important;
	}
}

.ui-datatable thead th, .ui-datatable tfoot td{
	text-align:left;
}



.pointer{cursor:pointer;}

.search-result td{ height:60px;}
.ui-autocomplete-dd input.ui-corner-all, .ui-autocomplete-dd .ui-autocomplete-multiple-container.ui-corner-all{
	width:379px !important;
}
.ui-button-icon-only .fa, .ui-button-text-icon-left .fa, .ui-button-text-icon-right .fa{
	color:#555555;
}
.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button{
	    border: 1px solid #d6d6d6;
		    background: #ffffff;
		    height:29px;
}
.ui-widget-header .ui-button:enabled:hover, .ui-widget-header .ui-button:focus, .ui-widget-content .ui-button:enabled:hover, .ui-widget-content .ui-button:focus, .ui-widget.ui-button:enabled:hover, .ui-widget.ui-button:focus, .ui-button:enabled:hover, .ui-button:focus{
border: 1px solid #d6d6d6;
		    background: #ffffff;	
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
    /* display: none; <- Crashes Chrome on hover */ 
    -webkit-appearance: none; 
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */ 
} 
.ui-dialog .ui-dialog-titlebar{background:#5bc0de !important; color:#ffffff !important;}
.btn-info{background-color: #0275d8 !important;}

.ui-dialog{border: none;}
.ui-dialog .ui-dialog-titlebar{background: #27AAE1 !important; color: #fff !important;}
.ui-dialog .fa-remove:before, .ui-dialog .fa-close:before, .ui-dialog .fa-times:before{ content: "\F00D"; color: #fff;}
.custom-inputs{width: 100%; float: left;}
.custom-inputs .custom-input-label{width: 100%; float: left;}
.custom-inputs .custom-input-text{width: 100%; float: left; padding: 10px; border-radius: 5px;}
.fa-trash-o{color:red;}
.search-title{width: 70%;}
.ui-dialog .ui-dialog-titlebar-icon:hover{border: 1px solid transparent; background: none;}
.custom-dialog h4{padding-bottom: 7px; color: #27AAE1; padding-left: 5px;}
.custom-dialog .custom-table tr{border-bottom: 1px solid #ddd;}
.custom-dialog .custom-table td{border: none;}
.ui-helper-clearfix .exportTable{margin-top:7px !important;}
 
.search-result td{ height:60px;}
.main-container{
	overflow:unset !important;
} 
nav.navbar.navbar-expand-lg.fixed-top{
    z-index: 5;
}
.fixed-top.header nav.navbar.navbar-inverse{background: #ffffff !important;}
.header.afterlogin.fixed-top{box-shadow: 0px 2px 5px #28356D;}
.searchnav {position: relative;}
.searchnav .searchbox{border-radius: 20px !important;padding-left: 45px;}
.searchnav button.btn.btn-default {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 11;
    padding-left: 15px;
    background: transparent;
    border: 0;
}
.searchnav button.btn.btn-default:focus {
    box-shadow: none !important;
}
.navbar-inverse .custom-menu .navbar-nav .nav-link {
    color: #000;
    cursor: pointer;
}
.navbar-inverse .custom-menu .navbar-nav ul.dropdown-menu{    right: 0;left: inherit;padding: 0;    border-radius: 0;}
.navbar-inverse .custom-menu .navbar-nav ul.dropdown-menu li a {
    border-bottom: 1px solid;
    padding: 3px 10px;
}
.navbar-inverse .custom-menu .navbar-nav ul.dropdown-menu li:last-child a{border-bottom: 0;}
.navbar-inverse .custom-menu .navbar-nav ul.dropdown-menu li a:hover{
	background: #3E5D95;
    color: #fff;
}
nav.sidebar.sidebarmenu {
    background: transparent;
    border: 0;
    border-right: 3px solid #28356D;
    z-index: 1;
    padding-top:25px;
}
nav.sidebar.sidebarmenu .list-group a.list-group-item{background: transparent !important;
color:#000 !important;
}
nav.sidebar.sidebarmenu a{
	padding: 9px 15px;
}
section.main-container.container-fluid.no-padding {
  padding-left: 275px;
}
nav.sidebar.sidebarmenu a:hover,nav.sidebar.sidebarmenu a{color:#000;}
section.main-container.container-fluid.no-padding {
    padding-top: 85px;
}
.pos-f-t.fixed-top.header.afterlogin {
    position: fixed;
}
.sidebar .menuname{
	float: none;
    display: block;
    word-wrap: break-word;
    padding: 10px;
    text-align: center;
    background: #009E0F !important;
    color: #FFE !important;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    margin: 0.75rem 1.25rem;
}
section.main-container.container-fluid.no-padding .row{width:100%;}
nav.sidebar.sidebarmenu i.fa {
    font-size: 20px;
    width: 30px;
    text-align: left;
}
h4.text-muted.text-center.usermessage {
    font-weight: bold;
    padding-bottom: 15px;
}
.col-xl-3.col-lg-6.box .card{text-align: center;padding:0;border: 1px solid #ddd;
    border-radius: 0;
    }
.col-xl-3.col-lg-6.box .card h2 {
    text-align: center;    font-size: 24px;
}
.col-xl-3.col-lg-6.box .card .card-header{background-color:transparent;border:0;min-height: 80px;}
.col-xl-3.col-lg-6.box .card .card-footer{background-color:transparent;border:0;}
.col-xl-3.col-lg-6.box .card .card-footer small.count {
    font-size: 26px;
    color: #3E5D95;
    font-weight: bold;
}
.row.meetingwapper {
    margin-top: 30px;
    margin-bottom: 30px;
}
h2.block-title {
    display: inline-block;
    font-weight: 600;
    font-size: 22px;
}
.row.meetingwapper .card {
	padding:0;border: 1px solid #ddd;
    border-radius: 0;
}
.row.meetingwapper .card-header{background-color:transparent;}
.table-bordered th .fa {
    display: inline-block;
    float: right;
}
a.block-title-link {
    display: inline-block;
    padding-left: 15px;
    text-decoration: underline;
}
a.list-group-item.router-link-active {
    font-weight: bold;
}
.navbar-inverse .custom-menu .navbar-nav .nav-link.dropdown-toggle{
	font-weight: 600;
}
table {
    max-width: 100%;
    width: 100%;
}
.card-block.table-responsive {
    padding: 20px;
}
.card-block .table-bordered {
    border: 0;
    float: left;
    width: 100%;
}
.create_purchase .form-group .col-lg-3{display:inline-block;float:left;}
.create_purchase .form-group .col-lg-9{display:inline-block;float:left;}
.create_purchase .form-group .col-lg-9{display:inline-block;float:left;}
.create_purchase .form-group .col-lg-9{display:inline-block;float:left;}
.create_purchase .form-group #related_file{float:right;}
.create_purchase .form-group .dropfield.col-lg-7{padding:0;}
.create_purchase .form-group .dropfield.col-lg-7 .ui-dropdown {
    width: 100% !important;
    max-width: 58.33333333%;
}
.create_purchase .form-group span.ui-button.ui-fileupload-choose{
	background-color: #3E5D95;
    border-color: #3E5D95;
    color:#fff;
}

.create_purchase .form-group .ui-button-text-icon-left .fa{color:#fff;}
.hidden{display:none;}
.btn{    cursor: pointer;}
.ui-datatable .ui-datatable-thead>tr>th{    padding: 0.75rem;
    background: transparent;}
.ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td{    padding: 0.75rem;}
.ui-datatable .ui-datatable-thead>tr>th.ui-state-active {
    background: #186ba0;
    color: #ffffff;
}
.btn-secondary{
	background-color: #3E5D95;
	    border-color: #3E5D95;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #28356D;
    border-color: #28356D;
}
.btn-secondary:focus {
    color: #fff;
    background-color: #28356D;
    border-color: #28356D;
}
.create_purchase .form-group input[type="text"],.create_purchase .form-group .ui-dropdown .ui-dropdown-label{padding-left:10px;}
.ui-dropdown .ui-dropdown-trigger .fa{    margin-top: .5em;}
.ui-button-icon-only .fa, .ui-button-text-icon-left .fa, .ui-button-text-icon-right .fa {
    color: #28356D;
}
.custom-common-inputs .ui-autocomplete ,.custom-common-inputs .ui-autocomplete-multiple-container.ui-inputtext,.custom-common-inputs .ui-autocomplete .ui-autocomplete-input{width:400px;}
.ui-widget-header.custom-search {
    background: transparent;
    border: 0;
    float: right;
    position: relative;
    max-width:30%;
    margin-right:15px;
}
.ui-widget-header.custom-search input{
width: 100%;
    max-width: 100%;
    border-radius: 30px;
    padding-left: 30px;
    box-shadow: none !important;
    border: 1px solid #d6d6d6;
    height: 30px;
}
.ui-widget-header.custom-search i.fa.fa-search {
    position: absolute;
    width: 30px;
    height: 100%;
    margin: auto;
    line-height: 30px;
    text-align: center;
}
.purchase .btn-primary,.purchase .ui-widget-header .ui-button{    background: #3E5D95;border: #3E5D95;}
.purchase .btn-primary:hover,.purchase .ui-widget-header .ui-button:hover{    background: #28356D;border: #28356D;}
.purchase .ui-button-text-only .ui-button-text{
    color:#fff;
    padding:0;
}
.purchase .ui-datatable-header.ui-widget-header.ng-star-inserted {
    background: #fff;    float: left;
    width: 100%;
}
.purchase span.ui-button-icon-left.ui-clickable.fa.fa-fw.fa-file-o {
    display: none;
}
td.ui-datatable-emptymessage span {
    text-align: center;
    display: block;
}
a.btn.btn-primary.btnlink{
    background: #009E0F !important;
    border-color: #009E0F !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75)!important;
}
.drop-container.col-lg-7 {
    color: #0782d0;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    border: 2px dotted #0782d0;
    border-radius: 30px;
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
}
.fullwidth .ui-dropdown {
    width: 100% !important;
}
.contactnamewapper .ui-overlaypanel {
    left: inherit !important;
    top: inherit !important;
}
.btnlink{cursor:pointer;text-decoration: underline;}

.modal-dialog.modal-sm.sharepopup{width: 100%;max-width: 450px;}
h3.col-sm-8.no-padding.modal-title.text-bold{
    color: #fff;
    font-weight: bold;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    max-width:100%;
}
.modal-dialog.modal-sm.sharepopup button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    color: #fff;
    line-height: 44px;
    margin: 0;
    padding: 0;
        z-index: 1;
    position: relative;
}
.modal-dialog.modal-sm.sharepopup .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    display:block;
}
.modal-dialog.modal-sm.sharepopup textarea{    width: 100%;height: 60px;padding:10px;}
.modal-dialog.modal-sm.sharepopup .postcontent p{padding-bottom: 0;}
.modal-dialog.modal-sm.sharepopup .postcontent{
        font-size: 13px;
    background: #fafbfd;
    padding: 14px;
    margin: 10px 0;
    float:none;
}
.modal-dialog.modal-sm.sharepopup .close{opacity: 1;}
.modal-dialog.modal-sm.sharepopup .cancel.close {
    float: none;
    background: #44d744;
    opacity: 1;
    padding: 0 0 2px;
    margin: 0;
}
.modal-dialog.modal-sm.sharepopup .shareprofileprivacy{    margin-right: 10px;}
.modal-dialog.modal-sm.sharepopup .ui-dropdown label.ui-dropdown-label{padding: 5px}
.modal-dialog.modal-sm.sharepopup li.ng-tns-c1-0.ui-dropdown-item.ui-corner-all.ui-state-highlight span {
    color: #fff;
}
.customtitle{float:left;font-size: 16px;font-weight: bold;line-height: 30px;}
.bids_offers button#dropdownMenuButton {
    padding: 2px 5px;
}

.ui-datatable .ui-datatable-tfoot > tr > td, .ui-datatable .ui-datatable-data > tr > td {
    padding: 5px;
}
.table-bordered {
    border: 1px solid #e9ecef;
    float: left;
    width: 100%;
}
.bids_offers .table-bordered {
    margin-bottom: 60px;
}
.dropdown-menu a.dropdown-item{cursor:pointer;}
.sharepopup .postcontent .col-lg-3{float:left;}
samp.tablink{
    color: #fff;
    padding: 10px;
    text-align: center;
    color: #FFE !important;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}
.cleardiv{clear:both;}
.customradio .ui-radiobutton-icon{margin-top:0;}
.customradio label.ui-radiobutton-label.ng-star-inserted{margin-bottom:0;}
a.btnlink{display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui-button-icon-only .fa, .ui-button-text-icon-left .fa, .ui-button-text-icon-right .fa {
    color: #fff;
}
span.ui-button-icon-left.ui-clickable.fa.fa-fw.fa-calendar,button.ui-datepicker-trigger.ui-calendar-button.ng-tns-c5-1.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ng-star-inserted .fa
{
    color:#28356D;
}
.col-lg-12.dropfield.ng-tns-c5-1.ng-untouched.ng-pristine.ng-valid.ui-inputwrapper-filled input {
    height: 29px;
}
samp.tolltipe{display: inherit;}
th.sortcol.ui-state-default.ui-unselectable-text.ng-star-inserted {
    width: 25px;
    padding: 0;
    text-align: center;
}
a.btnlink.up i.fa ,a.btnlink.down i.fa{
    font-size: 24px;
}
/* a.btnlink.up, a.btnlink.down {
    overflow: visible;
    height: 0;
} */
.bgcolor {
    background: green !important;
    color: #fff;
}
.bggraycolor{
    background: gray !important;
    color: #fff;
}
.customtable .ui-table-caption{float:left;width:100%;background: #fff;padding: .5em .75em;}
.customtable .ui-table .ui-table-thead>tr>th,.customtable  .ui-table .ui-table-tbody>tr>td,.customtable  .ui-table .ui-table-tfoot>tr>td {
    padding: 8px 5px;    cursor: pointer;
}
.customtable .ui-table .ui-table-tbody > tr {
    background-color: #fff;
}
.customtable tr .sortid img{
    display: inherit;
    padding-bottom: 3px;    margin: auto;
}
.customtable .ui-table .ui-table-thead > tr > th{background:#fff;}
.sortid{text-align:center;}
a.btnlink.arrowhidden {
    opacity: 0.1;
    pointer-events: none;
}
/* tr.ui-widget-header + .ng-star-inserted td .up {
    display: none;
}
tr.ng-tns-c4-0.bgcolor.ng-star-inserted:last-child td a.down {
    display: none;
}
tr.ui-widget-header ~ .ng-star-inserted td .down {
    display: none;
} */
.dropfiled .ui-dropdown{width:100% !important;}
.customtablediv{
    float: left;
    width: 100%;
}
.customtablediv .ui-widget-header {
    float: left;
    width: 100%;
    background: #fff;
    padding: .5em .75em;
}
table.table.table-bordered.customtable {
    background: #fff;
}
.customtablediv tfoot.ng-tns-c4-0,.customtablediv  tfoot.ng-tns-c4-0 td {
    background: #f6f7f9 0 0 repeat-x;
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
}
.customtablediv tfoot .btn-primary, .customtablediv tfoot .ui-button {
    background: #28356D !important;
    border: #28356D !important;
}
.customtablediv tfoot .btn-primary:hover, .customtablediv tfoot .ui-button:hover {
    background: #28356D !important;
    border: #28356D !important;
}
.customtablediv tfoot .ui-paginator {
    margin: 0;
    text-align: center;
    padding: .125em;
    background: #f6f7f9 0 0 repeat-x !important;
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%) !important;
    border: 0;
    padding: 0 !important;
}
.customtablediv tr td{cursor:pointer;}