<div class="agenc-top p-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="year-review">2018 Reviews </span>
                <span class="pr-2 pl-2 title">Top Ad Agencies &amp; Marketing Companies</span>
                <span class="update-date">Last updated Dec 11, 2018</span>
            </div>
        </div>
    </div>
</div>
<div class="agenc-user-info p-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="solgan">Real reviews by real analysts. Learn more about Clutch... </span>
                <span class="user-name"><img class="mr-2" src="{{'layer-1.png' | assetspath }}">Curated by <a href="">Lorem Ipsum</a></span>
                <span class="info">
                    <samp class="phone"><i class="la la-phone pr-2"></i><a href="tel:1234567890">123.456.7890</a></samp>
                    <samp class="email pl-4"><i class="la la-envelope pr-2"></i><a href="mailto:lorem@agenc.co">lorem@agenc.co</a></samp>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="agenc-fillter-wapper">
    <div class="container fillters">
        <div class="row pt-3 pb-3">
            <div class="col-xl-6 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-12">
                        <span class="firms">10624 Firms</span>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-12 review-fillter">
                        <mat-checkbox aria-label="reviews" id="reviews" labelPosition="after" name="reviews" >Reviews</mat-checkbox>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-12">
                        <i class="la la-bar-chart mr-2"></i>Leaders Matrix
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-xl-6 pull-right col-md-6 col-sm-12 sort-by">
                        <label class="pull-left mr-2">Sort by:</label>
                        <mat-form-field class="pull-left">
                            <mat-select placeholder="Select any one">
                                <mat-option [value]="sponsored">Sponsored</mat-option>
                                <mat-option [value]="sponsored">Sponsored</mat-option>
                                <mat-option [value]="sponsored">Sponsored</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-5 pull-right col-md-6 col-sm-12 results">
                        <span>Filter Results <i class="la la-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="agenc-content-wapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="listing-wapper pt-3 pb-3">
                    <div class="listing-img ">
                        <div class="company-logo">

                        </div>
                        <div class="company-review">

                        </div>
                    </div>
                    <div class="listing-content">
                        <h3 class="pb-2">Deksia</h3>
                        <span class="tagline pb-3">Business Intelligence &amp; Strategic Creative</span>
                        <p>
                            &quot;BrandTuitive has an exceptional first-class team. They&apos;re a joy to be
                            around and they work their tails off.&quot;
                        </p>
                        <p class="check-list">Trade Marketer, Large CPG Corporation<i class="la la-check-square pl-2"></i></p>
                        <ul class="project-info">
                            <li><i class="la la-tag pr-2"></i>$25,000+</li>
                            <li><i class="la la-clock-o pr-2"></i>$100 - $149 / hr</li>
                            <li><i class="la la-user pr-2"></i>50 - 249</li>
                            <li><i class="la la-map-marker pr-2"></i>Louisville, KY</li>
                        </ul>
                        <div class="service-focus">
                            <div class="col-sm-3 col-md-2">
                                <app-progress-bar [fontSize]="'24'" [percentage] = "'20'" [Wdith]="'100'" [borderColor]="'#f0cd64'" ></app-progress-bar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
