@import 'varibales';
.agenc-top{
    background: $primary;
    border-top: 1px solid $black_russian;
    color: $white;
    @include respond(lg){
        padding: 25px 0 !important;
    }
    @include respond(sm){
        padding: 15px 0 !important;
    }
    .col-12{
        display: table;
        span{
            display: table-cell;
            @include respond(sm){
                display: block;
            }
            &.year-review{
                color: $gray_dark;
                font-size: 30px;
                font-weight: 500;
                position: relative;
                @include respond(xl){
                    font-size: 20px;
                }
                @include respond(lg){
                    font-size: 18px;
                }
                @include respond(md){
                    font-size: 16px;
                }

                &:after {
                    content: '|';
                    position: absolute;
                    right: 7px;
                    @include respond(lg){
                        right: 0px;
                    }
                    @include respond(sm){
                        display: none;
                    }
                }
            }
            &.title{
                font-size: 30px;
                font-weight: 500;
                @include respond(xl){
                    font-size: 20px;
                }
                @include respond(lg){
                    font-size: 18px;
                }
                @include respond(md){
                    font-size: 16px;
                }
                @include respond(sm){
                    font-size: 20px;
                    padding: 5px 0 !important;
                }
            }
            &.update-date{
                text-align: right;
                color: rgba(255, 255, 255, 0.3);
                @include respond(lg){
                    font-size: 14px;
                }
                @include respond(md){
                    font-size: 11px;
                }

            }
        }
    }
}
.agenc-user-info{
    background: $user_info;
    color: $white;
    @include respond(md){
        padding: 0.5rem !important;
    }
    .col-12{
        display: table;
        span{
            display: table-cell;
            @include respond(lg){
                &.solgan{
                    display: none;
                }
            }
            @include respond(sm){
                text-align: center;
                display: block;
            }
            &.user-name{
                img {
                    max-width: 25px;
                    border-radius: 50%;
                }
                @include respond(md){
                    font-size: 14px;
                }
            }
            &.info{
                text-align: right;
                a{
                    color: $white;
                    &:hover{
                        color: $accent;
                    }
                    @include respond(md){
                        font-size: 14px;
                    }
                }
                @include respond(sm){
                    text-align: center;
                }
            }
        }
    }
}
.agenc-fillter-wapper{
    background: $breadcamp;
    color: $primary;
    height: 195px;
    @include respond(lg){
        height: 175px;
    }
    @include respond(md){
        height: auto;
    }
    .fillters{
        line-height: 60px;
        @include respond(lg){
            .fillter-top{
                display: none;
            }
        }
        @include respond(sm){
            line-height: 55px;
        }
        span{
            &.firms{
                font-size: 21.5px;
                font-weight: bold;
                position: relative;
                display: block;
                &:after {
                    border-right: 1px solid $gainsboro;
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    right: 0;
                }
            }
        }
        .results{
            span{
                position: relative;
                display: block;
                .la-plus{
                    position: absolute;
                    right: 0;
                    line-height: 60px;
                }
            }
            @include respond(sm){
                max-width: 50%;
            }
            @include respond(341px){
                max-width: 100%;
            }
        }
        /deep/{
            .review-fillter{
                position: relative;
                color: $accent;
                text-align: center;
                label{
                    margin: 0;
                }
                &:after{
                    border-bottom: 1px solid $accent;
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 75%;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    margin: auto;
                }

            }
            .sort-by {
                position: relative;
                .mat-form-field-appearance-legacy .mat-form-field-underline{
                    display: none;
                }
                &:after{
                    border-right: 1px solid $gainsboro;
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    right: 7px;
                    @include respond(341px){
                        border: 0;
                        border-bottom: 1px solid $gainsboro;
                        width: 100%;
                        left: 0;
                        right: 0;
                    }
                }
                @include respond(xl){
                    .mat-form-field{
                        max-width: 130px;
                    }
                }
                @include respond(sm){
                    max-width: 50%;
                    .mat-form-field-wrapper{
                        padding: 0;
                    }
                }
                @include respond(341px){
                    max-width: 100%;
                }
            }
        }
    }
}
.agenc-content-wapper{
    margin-top: -80px;
    min-height: 300px;
    @include respond(md){
        margin-top: 0px;
    }
    .listing-wapper {
        background: $white;
        border: 1px solid $gainsboro;
        border-radius: 3px;
        box-shadow: 1px 1.7px 1px 0 rgba(0, 0, 0, 0.15);
        border-right: 0;
        @include respond(md){
            border: 0;
        }

        .listing-img {
            text-align: center;
            .company-logo
            {
                max-width: 120px;
                margin: auto;
                img{
                    max-width: 100%;
                }
            }
            .total-review{
                @include respond(xl){
                    samp{
                        display: none;
                    }
                }
                a{
                    @include respond(xl){
                        display: block;
                    }
                }
                .la{
                    font-size: 11px;
                }
            }
        }
        .listing-content {
            width: 100%;
            color: $gray_dark;
            border-left: 1px solid $gainsboro;
            @include respond(md){
                border: 0;
            }
            @include respond(sm){
                padding: 0px 10px 20px !important;
            }
            h3,h6{
                color: $primary;
            }
            h3{
                a{
                    color: $primary;
                    text-transform: capitalize;
                    &:hover{
                        color: $accent;
                    }
                }
                .sponsor{
                    float: right;
                    color: rgba(102, 102, 102, 0.5);
                    font-size: 13px;
                    text-transform: uppercase;
                    letter-spacing: 1.4px;
                    @include respond(sm){
                        display: none;
                    }
                }
            }
            .tagline,check-list{
                display: block;
            }
            .project-info{
                width: 100%;
                li{
                    display: inline-block;
                    padding: 0 20px;
                    &:first-child{
                        padding-left: 0;
                    }
                    @include respond(lg){
                        display: block;
                        padding: 5px 0;
                    }
                }
            }
            .service-focus{
                @include respond(599px){
                    display: none;
                }
            }
            .company-details{
                a{
                    @include respond(xl){
                        white-space: pre;
                        font-size: 15px;
                    }
                    &:hover{
                        font-weight: 500;
                        .la{
                            text-decoration: none;
                        }
                    }
                    @include respond(599px){
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}