<div class="overlay"></div>
<nav id="sidebar">
    <div class="sidebar-header">
        <a href="" class="sidebarlogo"><img class="image-wapper" src="{{ 'logo.png' | assetspath }}"></a>
    </div>
    <div class="side-menu">
        <ul class="list-unstyled components">
            <li class="hidden-menu">
                <a routerLink="/agencies" routerLinkActive="active">Search</a>
            </li>
            <li class="hidden-menu">
                <a routerLink="/login" routerLinkActive="active">Signin</a>
            </li>
            <li class="hidden-menu">
                <a href="#">Leave a Review</a>
            </li>
            <li class="parents dropdown">
                <a href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="la iconleft la-angle-right"></i>Advertising &amp; Marketing <i class="la la-angle-right iconright"></i></a>
                <ul class="submenu dropdown-menu" malihu-scrollbar [scrollbarOptions]="lightScrollbarOptions" aria-labelledby="dropdown">
                    <li>
                        <a href="">Advertising</a>
                    </li>
                    <li>
                        <a href="">Digital Marketing</a>
                    </li>
                    <li>
                        <a href="">Social Media Marketing</a>
                    </li>
                    <li>
                        <a href="">Mobile App Marketing</a>
                    </li>
                    <li>
                        <a href="">Content Marketing</a>
                    </li>
                    <li>
                        <a href="">Full Service Digital</a>
                    </li>
                    <li>
                        <a href="">Creative Agencies</a>
                    </li>
                    <li>
                        <a href="">Branding</a>
                    </li>
                    <li>
                        <a href="">Naming</a>
                    </li>
                    <li>
                        <a href="">Video Production</a>
                    </li>
                    <li>
                        <a href="">Public Relations</a>
                    </li>
                    <li>
                        <a href="">Media Planning &amp; Buying</a>
                    </li>
                    <li>
                        <a href="">Digital Strategy</a>
                    </li>
                    <li>
                        <a href="">Email Marketing</a>
                    </li>
                    <li>
                        <a href="">Inbound Marketing</a>
                    </li>
                    <li>
                        <a href="">Market Research</a>
                    </li>
                    <li>
                        <a href="">Marketing Software</a>
                    </li>
                    <li>
                        <a href="">More in Advertising &amp; Marketing</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">Search Engine Optimization (SEO)</a>
            </li>
            <li>
                <a href="">Mobile App Development</a>
            </li>
            <li>
                <a href="">Web &amp; Software Development</a>
            </li>
            <li>
                <a href="">Web Design</a>
            </li>
            <li>
                <a href="">IT Services &amp; Solutions</a>
            </li>
            <li>
                <a href="">Business Services</a>
            </li>
            <li>
                <a href="">Top B2B Service Providers</a>
            </li>
        </ul>
    </div>
</nav>
<div class="sidebarbutton">
    <div id="dismiss">
        <i class="icon-closed"></i>
    </div>
    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="icon-menu-icon"></i>
    </button>
</div>