<div class="overlay"></div>
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="sidebar-header">
        <h3>Menu</h3>
    </div>
    <ul class="list-unstyled components">
        <li class="hidden-menu">
            <a href="#">Search</a>
        </li>
        <li class="hidden-menu">
            <a href="#">Signin</a>
        </li>
        <li class="hidden-menu">
            <a href="#">Leave a Review</a>
        </li>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<div class="sidebarbutton">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="icon-menuicon"></i>
    </button>
</div>